

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
   	background-image: url("BKG_v3.png");
   	background-size: cover;
   	background-repeat: no-repeat;
   }
   .jumbotron {
      background: rgb(218, 225, 237); /* This is for ie8 and below */
      background: rgba(218, 225, 237, 0.7);
   }
   .col-md-4 {
      background: rgb(218, 225, 237); /* This is for ie8 and below */
      background: rgba(218, 225, 237, 0.55);
   }
   .navbar {
     margin-bottom: 0px;
   }
